<h2><%= @user.name %></h2>

<p><%= link_to "Share your beautiful food.", new_post_path %></p>


<% @posts.each do |post| %>
  <%= link_to cl_image_tag(post.post_image), post_path(post.id) %>
  <p><%= post.post_text %></p>
<% end %>
