<!--

Index for posts

 -->
<div class="row">
  <div class="offset-md-2 col-md-3">
    <h2>What did everyone eat?</h2>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="row">

      <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <%= link_to cl_image_tag(post.post_image, :class => "img-fluid w-100"), post_path(post.id) %>
      </div>
      <% end %>

    </div>
  </div>
</div>
