<h2>Display A Post here</h2>

<h3>New post coming soon</h3>


<p>Username: </p>
<img src="https://fillmurray.com/300/300" alt="Bill Murray">

<p>Post text: <%= @post.post_text %></p>

<p>Form for adding a comment</p>
