<h2>Display A Post here</h2>

<h3>New post coming soon</h3>


<p>Username: </p>

<%= image_tag @post.post_image, :class => 'feature' %>

<p>Post text: <%= @post.post_text %></p>

<h4>Comments:</h4>

<%= render :partial => 'comments/new', :path => 'new_comment_path' %>
