body {
  background-image: url('https://res.cloudinary.com/djzc7ih0g/image/upload/v1548336981/white-plate.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
